/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* profile-img */
.profile-img {
    width: 110px;
    height: 130px;
    object-fit: cover;
    float: left;
    margin-left: 10px;
    object-position: center top;
    margin-top: -20px;
    border-radius: 0;
   transition: transform 0.4s;
}

.home img:hover {
    transform: scale(1.05);
}

/* Body */
body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    color: #333;
    transition: 0.3s;
}

/* Dark Mode */
body.dark {
    background: #121212;
    color: #fff;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #222;
    color: white;
    padding: 15px 30px;
    position: sticky;
    top: 0;
}

.navbar nav a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}

.navbar nav a:hover {
    text-decoration: underline;
}

/* Home */
.home {
    text-align: center;
    padding: 60px 20px;
}

.home img {
    border-radius: 30%;
    margin-bottom: 15px;
}

/* Sections */
section {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
}

body.dark section {
    background: #1e1e1e;
}

/*line height*/
h1, h4, p {
    line-height: 1.5;
}

/* Headings */
h2 {
    border-bottom: 2px solid #ddd;
    margin-bottom: 10px;
}

/* Projects */
.project-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.project-card {
    background: #eee;
    padding: 15px;
    border-radius: 10px;
    width: 300px;
    transition: transform 0.3s;
}

.project-card:hover {
    transform: scale(1.05);
}

.project-card img {
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
}

/* dark mode project cards */
body.dark .project-card {
    background: #333;
    color: #fff;
}

/* Project links */
.project-card h3 a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.project-card h3 a:hover {
    color: #0066cc;
}

body.dark .project-card h3 a:hover {
    color: #66aaff;
}

/*prjects images*/
.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    padding: 20px;
}

.image-box {
    width: 45%;      
    height: 300px;   
    overflow: hidden;
    border-radius: 10px;
}

.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Contact Form */
.social-links {
    text-align: left;
    margin-top: 20px;
}

.social-links a {
    margin: 10px;
    text-decoration: none;
    color: #0066cc;
}

body.dark .social-links a {
    color: #66aaff;
}

/* Footer */
footer {
    text-align: center;
    padding: 15px;
    background: #222;
    color: white;
}
